@{
    ViewBag.Title = "Kontakt";
}
<main aria-labelledby="title">


    <address>
        <b>Ime i prezime: Milena Bracanovic</b><br />
       
    </address>

    <address>
        <strong>Email:</strong>   <a href="mailto:milenabracanovic921@gmail.com">milenabracanovic921@gmail.com</a><br />
   
    </address>
</main>